@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Montserrat:wght@300&display=swap');
/* navbar */

.nav-link {
    transition: all 0.3s ease-in-out;
  }

/*dropdown*/

#menu
{
    position: absolute;
    right: 5rem;
}

/* body */

body {
    background-color: rgb(39, 48, 48);
}


/* top-body */

.body-top {
    text-align: center;
    width: auto;
    margin: auto;    
    background-size: contain;
    background-image: url('.././images/bg.jpg');
    background-attachment: fixed;
    padding: 50px;
    
}
.body-top h4 {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
}

.col {
    padding-top: 5rem;
    width: 600px;
}
.scol {
    padding-top: 3rem;
   
}

/* lower body */

#body-low { 
  padding: 2rem;
  padding-top: 0%;
  background-color: rgb(31, 37, 37);
  font-family: 'Montserrat', sans-serif;   

}

.sec1{
    padding: 0rem;
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: -90px;
}

.card {
    margin: 0.7rem;
}
#table1 tbody td {
    padding: 1rem;
}
#table2 tbody td {
    padding: 1rem;
}
#table1 {
  min-width: 750px;
  margin-bottom: 5rem;
}

#links {
  margin-top: 2rem;
}
#links > h4 {
    margin-bottom: 2rem;
}
#links li {
    margin-top: 1rem;
}
#s1 {
    height: 25rem;
    border-radius: 0.5rem;
}
h3 {
    font-size: 35px;
    padding-bottom: 1rem;
}
h5 {
    padding-top: 1rem;
    word-spacing: 0.5rem;
    font-size: 25px;
}

.section-center{
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
}
#s1 {
    transition: all 0.3s ease-in-out;
}
#s1:hover {
    transform: scale(1.01);
    opacity: 0.5;
  }

/* Footer */

footer a:hover {
    opacity: 0.5;
}

/* meadia query */

@media (max-width: 1400px) {
   
.sec1{
    padding: 0rem;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -90px;
}
#table1 {
    min-width: 250px;
    margin-bottom: 5rem;
  }
}
/* meadia query */

@media (max-width: 1043px) {
    h3 {
        font-size: 2rem;
       padding-top: 1rem;
    }
    h5 {
        word-spacing: 0.5rem;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .sec1{
        display: flex;
         flex-direction: column-reverse;
        justify-items: center;
    }

}
@media (max-width: 540px) {
    .body-top {
        padding: 2rem;
      
    }
    .body-top h4 {
        padding: 1rem;
        font-size: large;
       
    }
    #body-low { 
        padding: 2rem;
        background-color: rgb(31, 37, 37);
      }
    h3 {
        font-size: 1rem;
       padding-top: 0.9rem;
       padding-bottom: 1rem;
    }
    h5 {
        padding-top: 0rem;
        word-spacing: 0.2rem;
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }
    #s1 {
        height: 12rem;
    }
    .sec1{
        display: flex;
         flex-direction: column-reverse;
        justify-items: center;
        padding: 1.5rem;
    }

}
@media (max-width: 285px) {
    .body-top {
        padding: 2rem;
      
    }
    .body-top h4 {
        padding: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: medium;
       
    }
    #body-low { 
        padding: 2rem;
        background-color: rgb(31, 37, 37);
      }
    h3 {
        font-size: 1rem;
       padding-top: 0.9rem;
       padding-bottom: 1rem;
    }
    h5 {
        padding-top: 0rem;
        word-spacing: 0.2rem;
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }
    #s1 {
        height: 12rem;
    }
    .sec1{
        display: flex;
         flex-direction: column-reverse;
        justify-items: center;
        padding: 1.5rem;
    }

}